---
---


@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

// Our variables
$base-font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$selection-color:  #fc4f4f;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$font-family-main: 'Lato', Helvetica, Arial, sans-serif;
$font-family-headings: 'Lato', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #383838;
$link-color: #FC4F4F;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-tint-color: rgba(0, 0, 0, 0.6);
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #FC4F4F;
$header-desc-text-color: #FFF;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "layout",
        "custom",
        "syntax-highlighting"
;
