<!-- FOOTER -->
<footer class="footer-1 bg-dark fsHide">
    <div class="container">
        <div class="row" style="margin-top:30px;">
            <div class="col-md-3 fcol">
                <div class="vnu"><img alt="Logo" class="logo flogo"
                                      src="https://codingblocks.com/img/cb/cb_tshirt_logo.png">
                </div>
            </div>
            <div class="col-md-3 fcol">
                <span style="color:#fff;font-weight:500;font-size:18px;text-transform:uppercase;">About Us</span>
                <p style="color:#fff;font-weight:600;">India's best programming and software training institute offers
                    courses in Java, C++, Android, NodeJS and more.</p>
            </div>
            <div class="col-md-3 fcol">
                <ul>
                    <li style="color:#fff;font-weight:500;font-size:18px;text-transform:uppercase;">Resources</li>
                    <li><a href="https://blog.codingblocks.com/">Blog</a></li>
                    <li><a href="https://lab.codingblocks.com/">Labs</a></li>
                    <li><a href="https://bytecast.codingblocks.com/">Podcast</a></li>
                    <li><a title="Our Locations" href="/contactus">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 fcol">
                <span style="color:#fff;font-weight:500;font-size:18px;text-transform:uppercase;">Address</span>
                <p style="color:#fff;font-weight:600;">47, Nishant Kunj, 1st & 2nd Floor, Pitampura Main Road, Opposite
                    Metro Pillar 337, Pitampura, Delhi, 110034</p>
            </div>
        </div>

        <div class="row" style="margin-bottom:30px;">
            <div class="col-sm-6">
                <span class="sub">© Copyright 2016 - Coding Blocks Pvt. Ltd.</span>
                <br>
                <a href="/privacypolicy.html">Privacy Policy</a> ||
                <a href="/tos.html"> Terms of Service</a>
            </div>
            <div class="col-sm-6 text-right">
                <ul class="list-inline social-list">
                    <li>
                        <a href="http://twitter.com/codingblocksIN" target="_self">
                            <i class="fa fa-twitter fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://fb.me/codingblocksindia" target="_self">
                            <i class="fa fa-facebook fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/coding-blocks" target="_self">
                            <i class="fa fa-linkedin fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCICWIYEx2mo4wYZzLwJ7wVw" target="_self">
                            <i class="fa fa-youtube-play fa-2x"></i>
                        </a>
                    </li>
                    <li class="vpf">
                        <a href="http://github.com/coding-blocks" target="_self">
                            <i class="fa fa-github fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" style="margin-bottom:30px;">
            <a class="btn btn-sm fade-half back-to-top inner-link" style="color:#fff;" href="#top">Top</a>
        </div>
    </div>
</footer>
