<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    {% if page.vidId %}
    <meta property="og:image" content="https://img.youtube.com/vi/{{page.vidId}}/hqdefault.jpg">
    {% endif %}
    <link href="https://codingblocks.com/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="https://codingblocks.com/css/themify-icons.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://codingblocks.com/css/theme-fire.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "
    /feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
