.container-fluid {
  padding-left: 10%;
  padding-right: 10%;
}

.post-img {
  max-width: 100%;
}

.post-img iframe {
  width: 100%;
  height: 30vw;
}

.home img {
  width: 100%;
}

.home-vid {
  width: 100%;
  height: 15vw;
}

.hover-card {
  box-shadow: 12px 15px 20px 0 rgba(46,61,73,.15);
  transition: all 0.3s ease;
  margin-bottom: 30px !important;
}

.hover-card:hover {
  box-shadow: 0 4px 8px 0 rgba(46,61,73,.12);
}

/* Thus manifested his shallow quest for glamour,
 * "All day long, I shall mimic a programmer!"
 * So he fired up node,
 * Wrote some semblance of code,
 * But you cannot make frescoes with a hammer.
 */
.home {
  .hover-card .panel-body small {
    display: block;
    height: 3rem;
    margin-bottom: 1rem;
  }
}

a:active,
a:focus,
a:hover {
  color: $text-color!important;
  text-decoration: none!important;
}

/*!---------- Navigations ----------*/

.nav-bar .menu>.has-dropdown>ul>li:first-child {
  margin-top: -7px
}

.nav-bar {
  padding-right: 1rem;
  text-transform: uppercase!important;
}

.new-content-badge {
  border-radius: 3px;
  border: 1px solid red;
  padding: .2rem;
  font-size: 1rem;
  background: red;
  color: #fff;
  font-weight: 700;
  margin-left: .5rem;
  font-size: 8px;
  position: relative;
  top: -10px;
  left: -7px
}

.menu>li {
  margin-right: 18px
}

.nav-bar .module.left {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px
}

@media (max-width: 990px) {
  .nav-bar .module.left {
      padding-right:0
  }
}

.contact-us-dropdown a[target="_self"] .fa {
  width: 3rem
}

.module-group .right {
  background-color: #fff;
}
/*!---------- 6. BUTTONS ----------*/
.btn {
  font-family: $base-font-family;
  border: 2px solid #fc4f4f!important;
  padding: 0 26px;
  height: 40px;
  min-width: 150px;
  line-height: 36px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  color: #fc4f4f;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  margin-right: 8px;
  margin-bottom: 24px;
}

.btn:last-child,
.btn:last-of-type {
  margin-right: 0;
}

.btn:hover {
  background: #fc4f4f;
  color: #fff;
}

.btn-icon {
  width: 40px;
  height: 40px;
  font-size: 20px;
  min-width: 0;
  padding: 0;
  line-height: 38px;
}

.btn-lg {
  height: 50px;
  line-height: 46px;
  min-width: 200px;
}

.btn-icon.btn-lg {
  width: 50px;
  height: 50px;
  line-height: 49px;
  font-size: 24px;
  min-width: 0;
}

.btn-icon.btn-sm {
  width: 30px;
  height: 30px;
  line-height: 29px;
  font-size: 13px;
  min-width: 0;
  padding: 0 0 0 1px !important;
}

.btn-sm {
  height: 30px;
  font-size: 11px;
  line-height: 27px;
  min-width: 0;
}

.btn-filled {
  background: #fc4f4f!important;
  color: #fff!important;
  border-color: #fc4f4f!important;
}

.btn-white,
.image-bg .btn,
.image-bg .btn:visited {
  color: #fff;
  border-color: #fff;
}

.btn-white:hover,
.image-bg .btn:hover,
.image-bg .btn:visited:hover {
  background: #fff;
  color: #222;
}

.image-bg .btn-filled:visited,
.image-bg .btn.btn-filled {
  border-color: #fc4f4f;
}

.image-bg .btn-filled:hover {
  border-color: #fff;
}

.btn-rounded {
  border-radius: 25px;
}

body.btn-rounded .btn {
  border-radius: 25px !important;
}

.bg-light .btn {
  border-color: #222;
  color: #222;
}

.bg-light .btn:visited,
.bg-light .btn:visited:hover {
  color: #222;
}

.bg-light .btn-filled,
.bg-light .btn-filled:visited {
  color: #fff;
}

.btn:visited {
  color: #fc4f4f;
}

.btn-white:visited,
.btn:visited:hover {
  color: #fff;
}

.btn-white:visited:hover {
  color: #222;
}

.btn-filled:visited {
  color: #fff;
}

.btn.bg-dark {
  color: #fff;
  border-color: #333;
  background: #333;
}

.btn.bg-dark:hover {
  background: #434343;
  border-color: #434343;
}

.bg-primary .btn {
  color: #fff;
  border-color: #fff;
}

.bg-primary .btn:hover {
  background: #fff;
  color: #fc4f4f;
}

.li {
  display: list-item !important;
}
/*!---------- 4. COLOURS ----------*/
.bg-primary {
  background: #fc4f4f !important;
}

.bg-secondary {
  background: #f8f8f8;
}

.bg-white {
  background: #fff;
}

.bg-dark {
  background: #292929;
}

.color-body {
  color: #666;
}

.color-primary {
  color: #fc4f4f !important;
}

.color-red {
  color: #e31d3b !important;
}

.color-white {
  color: #fff;
}

.hovercard:hover {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  transition: all 300ms linear;
}

.hovercard {
  transition: all 300ms linear;
}

.hovercard-light:hover {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .05);
  transition: all 300ms linear;
}

.hovercard-light {
  transition: all 300ms linear;
}

.hover-light {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .05);
  transition: all 300ms linear;
}

.hover-light:hover {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .4);
  transition: all 300ms linear;
}
/*!---------- 36. FOOTERS ----------*/
footer.bg-dark a {
  color: #fff;
}

.footer-1 {
  font-size: 0.8em;
  font-weight: 300!important;
}

.footer-1 li {
  list-style-type: none;
}

.footer-1 .heading {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-1 .logo {
  max-height: 100px;
}

.footer-1 .sub {
  opacity: 0.5;
}

.social-list {
  margin: 0;
}

.image-bg .social-list a {
  color: #fff;
}

.bg-dark .social-list a,
.image-bg .social-list a {
  color: #fff;
  opacity: 0.5;
}

.bg-dark .social-list a:hover {
  opacity: 1;
}

.image-bg .social-list a {
  opacity: 1;
}

.bg-light .social-list a {
  color: #222;
}

.back-to-top {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.back-to-top:hover {
  opacity: 1;
}

.bg-dark .back-to-top {
  border-color: #fff;
}

.bg-dark .back-to-top:active,
.bg-dark .back-to-top:focus {
  color: #fff;
}

.bg-dark .back-to-top:hover {
  background: none;
}

.fade-half {
  opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  margin: 0;
}
// For correct line number width in Github Gists

.gist table tbody tr td {
  box-sizing: content-box;
}

html {
  background: $background-color;
}
// Typography

::selection {
  background: $selection-color;
}

::-moz-selection {
  background: $selection-color;
}

body {
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
  line-height: 1.3;
  margin: 0.67em 0;

  a {
    color: $text-color;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.15em;
}

blockquote {
  border-left: 2px solid;
  padding: 1em;
}

blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}

table {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
  @media (max-width: 1100px) {
    overflow-x: scroll;
    display: inline-block;
  }
}

td,
th {
  padding: 0.5em 1em;
  border: 1px solid $border-color;
  text-align: left;
}

blockquote,
code,
dl,
kbd,
pre,
samp,
table {
  margin: 1em 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 2em;
}

.math-display,
dl,
ol,
p,
ul {
  line-height: 1.5;
  margin-bottom: 1em;
}
// KaTeX math display

.math-display {
  display: inline-block;
  width: 100%;
}
// Lists within lists

li > ol,
li > ul {
  margin-bottom: 0;
  margin-left: 1em;
}

ol,
ul {
  list-style-position: inside;
}

hr {
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
// Responsive media

embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

img[align=left] {
  margin-right: 3%;
}

img[align=right] {
  margin-left: 3%;
}
@media (max-width: 767px) {
  .fb-likebox {
    display: none;
  }
}

.tag-box {
  padding: 4px 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
  *zoom: 1;
}

.tag-box:after,
.tag-box:before {
  display: table;
  line-height: 0;
  content: "";
}

.tag-box:after {
  clear: both;
}

.tag-box.inline li {
  float: left;
  font-size: 14px;
  line-height: 2.5;
}

.tag-box a {
  padding: 4px 6px;
  margin: 2px;
  text-decoration: none;
  border: 0.0625rem solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.tag-box a span {
  font-size: 10px;
  vertical-align: super;
  color: black;
}
/*Pagination Overwrite*/
.pagination > li > a,
.pagination > li > span {
  color: #fc4f4f;
}

.pagination > li > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #fc4f4f;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #fc4f4f;
  border-color: #fc4f4f;
}

/*Pagination Fix*/
.pagination>li>a, .pagination>li>span{
  width: inherit!important;
  height: inherit!important;
}
/*Nav Fix*/
.has-dropdown:after{
  position: relative!important;
}
