---
layout: default
title: Hacker Blocks
permalink: /categories/javascript/index.html
tags: [hackerblocks]
description: "Javascript Tutorials"
siteamp:
include: 'yes'
---

<div class="home">

    {% for category in site.categories reversed %}
    {% if category[0] == 'Javascript' %}
    <div class="mt50">
        <a href="categories/#{{ category[0] }}" name="{{ category[0] }}">
            <h2 class="text-center text-uppercase">{{ category[0] }}</h2>
        </a>
        <div class="row">

            {% for posts in category offset:1 %}
            {% for post in posts %}
            <div class="col-md-4">


                <div class="panel panel-default hover-card">
                    <div class="panel-body">
                        <h3 class="panel-title pull-left">{{ post.title | truncate: 35 }}</h3>
                    </div>


                    {% if post.vidId %}
                    <iframe width="100%" class="home-vid" src="https://www.youtube.com/embed/{{post.vidId}}/"
                            frameborder="0"
                            allowfullscreen></iframe>
                    {% else if post.image %}
                    <img width="100%" src="{{site.baseurl}}/images/{{post.image}}" alt="{{post.title}}">
                    {% else %}
                    <img width="100%" src="{{site.baseurl}}/images/webjeda-logo-big.jpg" alt="{{site.title}}">
                    {% endif %}
                    <div class="panel-body">
                        <small>
                            {{ post.excerpt | strip_html | strip_newlines | truncate: 65 }}
                        </small>
                        <br>
                        <a href="{{ post.url | prepend: site.baseurl }}"
                           class="btn btn-filled btn-sm pull-right mt10">Read</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
</div>
